<html>
<head>
   <meta charset="UTF-8">
    <title>COVID-19 Vaccine Tracker</title>
</head>
<body>
<center>
<a href="index.html">Home</a>
<a href='/vaccines'>Vaccines</a>
<a href="/appointments">Appointments</a>
<a href="/patients">Patients</a>
<a href="/clinics">Clinics</a>
<a href="/clinicians">Clinicians</a>
<a href="/distributors">Distributors</a></body>
</center>
<center><h1>Set an Appointment</h1></center>
<center><form id="appt" action="/appointments" method="post" style="margin:10;float:left;width: 30%">
      <h3>Add Appointment</h3>
      Clinic <select name ="clinicID">
      {{#each clinics}}
      <option value={{id}}>{{clinicName}}</option>
      {{/each}}
      </select required><br>
      Patient: <select name ="patientID">
      {{#each patients}}
      <option value={{id}}>{{name}}</option>
      {{/each}}
      </select required><br><br>
      <label>Vaccine Preference:</label><br>
      <label for="pfizer">Pfizer</label>
      <input type="radio" value="Pfizer" id="pfizer" name="vacType">
      <label for="moderna">Moderna</label>
      <input type="radio" value="Moderna" id="moderna" name="vacType">
      <label for="johnson">Johnson & Johnson</label>
      <input type="radio" value="Johnson" id="johnson" name="vacType"><br><br>
      <label>Appointment Time:</label>
      <select name = "appointment" required>
            <option value = "8:00 AM" >8:00 AM</option>
            <option value = "8:15 AM" >8:15 AM</option>
            <option value = "8:30 AM" >8:30 AM</option>
            <option value = "8:45 AM" >8:45 AM</option>
            <option value = "9:00 AM" >9:00 AM</option>
            <option value = "9:15 AM" >9:15 AM</option>
            <option value = "9:30 AM" >9:30 AM</option>
            <option value = "9:45 AM" >9:45 AM</option>
            <option value = "10:00 AM" >10:00 AM</option>
            <option value = "10:15 AM" >10:15 AM</option>
            <option value = "10:30 AM" >10:30 AM</option>
            <option value = "10:45 AM" >10:45 AM</option>
            <option value = "11:00 AM" >11:00 AM</option>
            <option value = "11:15 AM" >11:15 AM</option>
            <option value = "11:30 AM" >11:30 AM</option>
            <option value = "11:45 AM" >11:45 AM</option>
            <option value = "12:00 PM" >12:00 AM</option>
            <option value = "12:15 PM" >12:15 PM</option>
            <option value = "12:30 AM" >12:30 PM</option>
            <option value = "12:45 PM" >12:45 PM</option>
            <option value = "1:00 PM" >1:00 PM</option>
            <option value = "1:15 PM" >1:15 PM</option>
            <option value = "1:30 PM" >1:30 PM</option>
            <option value = "1:45 PM" >1:45 PM</option>
            <option value = "2:00 PM" >2:00 PM</option>
            <option value = "2:15 PM" >2:15 PM</option>
            <option value = "2:30 PM" >2:30 PM</option>
            <option value = "2:45 PM" >2:45 PM</option>
            <option value = "3:00 PM" >3:00 PM</option>
            <option value = "3:15 PM" >3:15 PM</option>
            <option value = "3:30 PM" >3:30 PM</option>
            <option value = "3:45 PM" >3:45 PM</option>
            <option value = "4:00 PM" >4:00 PM</option>
            <option value = "4:15 PM" >4:15 PM</option>
            <option value = "4:30 PM" >4:30 PM</option>
            <option value = "4:45 PM" >4:45 PM</option>
        </select>
        <br><input type="submit" value="Submit">
  </form></center>
  <br>
  <br>
  <br>
  <center><form id="form" style="float:right;width: 40%"> 
  <input type="search" id="appointmentID_search" name="appointmentID_search" placeholder="Search Appointment ID" required>
  <input type="button" value="Search" onclick="searchAppointments()">
</form></center>  
<center><a href='/appointments'><input type=button value='Refresh Table'></a></center>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <TABLE style="margin: 0px auto;" BORDER="5"    WIDTH="90%"   CELLPADDING="4" CELLSPACING="3">
   <TR>
      </TH>
   </TR>
   <TR>
      <TH>Appointment ID</TH>
      <TH>Clinic</TH>
      <TH>Patient</TH>
      <TH>Vaccine Preference</TH>
      <TH>Appointment Time</TH>
   </TR>
   {{#each appointments}}
   <TR ALIGN="CENTER">
        <td>{{appointmentID}}</td> 
        <td>{{clinic}}</td> 
        <td>{{patient}}</td>
        <td>{{vaccinePref}}</td>
        <td>{{appointment}}</td>
        <td><button onclick="deleteAppointment({{appointmentID}})">Delete</button></td>
        <td><a href="/appointments/{{appointmentID}}">Update</a></td>
   </TR>
   {{/each}} 
</TABLE> 
</html>
