<html>
<head>
   <meta charset="UTF-8">
    <title>COVID-19 Vaccine Tracker</title>
</head>
<body>
<center>
<a href="index.html">Home</a>
<a href='/vaccines'>Vaccines</a>
<a href="/appointments">Appointments</a>
<a href="/patients">Patients</a>
<a href="/clinics">Clinics</a>
<a href="/clinicians">Clinicians</a>
<a href="/manufacturers">Manufacturers</a></body>
</center>
<center><h1>Set an Appointment</h1></center>
<center><form style="margin:10;float:left;width: 30%">
      <label for="patientID">Appointment ID:</label>
      <input type="text" id="appointmentID" name="appointmentID"><br>
      <label for="patientID">Patient ID:</label>
      <select name = "dropdown">
         <option disabled selected></option>
         <option value = "0001" >0001</option>
         <option value = "0002" >0002</option>
         <option value = "0003" >0003</option>
      </select>
      <br>
      <label for="clinicianID">Clinic ID:</label>
      <select name = "dropdown">
         <option disabled selected></option>
         <option value = "0000001" >0000001</option>
         <option value = "0000002" >0000002</option>
         <option value = "0000003" >0000003</option>
      </select>
      <br>
      <label for="vacType">Vaccine Preference:</label><br>
      <label for="vacType">Pfizer</label>
      <input type="radio" id="vacType" name="vacType">
      <label for="vacType">Moderna</label>
      <input type="radio" id="vacType" name="vacType">
      <label for="vacType">Johnson & Johnson</label>
      <input type="radio" id="vacType" name="vacType"><br>
      <label for="apt">Appointment Time:</label>
      <select name = "dropdown">
            <option value = "8:00 AM" >8:00 AM</option>
            <option value = "8:15 AM" >8:15 AM</option>
            <option value = "8:30 AM" >8:30 AM</option>
            <option value = "8:45 AM" >8:45 AM</option>
            <option value = "9:00 AM" >9:00 AM</option>
            <option value = "9:15 AM" >9:15 AM</option>
            <option value = "9:30 AM" >9:30 AM</option>
            <option value = "9:45 AM" >9:45 AM</option>
            <option value = "10:00 AM" >10:00 AM</option>
            <option value = "10:15 AM" >10:15 AM</option>
            <option value = "10:30 AM" >10:30 AM</option>
            <option value = "10:45 AM" >10:45 AM</option>
            <option value = "11:00 AM" >11:00 AM</option>
            <option value = "11:15 AM" >11:15 AM</option>
            <option value = "11:30 AM" >11:30 AM</option>
            <option value = "11:45 AM" >11:45 AM</option>
            <option value = "12:00 PM" >12:00 AM</option>
            <option value = "12:15 PM" >12:15 PM</option>
            <option value = "12:30 AM" >12:30 PM</option>
            <option value = "12:45 PM" >12:45 PM</option>
            <option value = "1:00 PM" >1:00 PM</option>
            <option value = "1:15 PM" >1:15 PM</option>
            <option value = "1:30 PM" >1:30 PM</option>
            <option value = "1:45 PM" >1:45 PM</option>
            <option value = "2:00 PM" >2:00 PM</option>
            <option value = "2:15 PM" >2:15 PM</option>
            <option value = "2:30 PM" >2:30 PM</option>
            <option value = "2:45 PM" >2:45 PM</option>
            <option value = "3:00 PM" >3:00 PM</option>
            <option value = "3:15 PM" >3:15 PM</option>
            <option value = "3:30 PM" >3:30 PM</option>
            <option value = "3:45 PM" >3:45 PM</option>
            <option value = "4:00 PM" >4:00 PM</option>
            <option value = "4:15 PM" >4:15 PM</option>
            <option value = "4:30 PM" >4:30 PM</option>
            <option value = "4:45 PM" >4:45 PM</option>
        </select>
        <br><input type="submit" value="Submit">
        <input type="submit" value="Update">
  </form></center>
<center><form style="float:right;width: 40%">
      <label for="appointmentID">Appointment ID:</label>
      <input type="text" id="patientID" name="patientID"><br>
      <input type="submit" value="Delete Appointment">
  </form></center>
  <center><form id="form"> 
  <input type="search" id="query" name="q" placeholder="Search...">
  <button>Search</button>
</form></center>  
{{!-- <h3>Add new people:</h3>
<form id="addperson" action="/people" method="post">
    First name: <input type="text" name="fname"><br>
    Last name: <input type="text" name="lname"><br>
    Homeworld: <select name="homeworld"> 
        {{#each planets}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    Age: <input type="number" name="age"><br>
    <input type="submit" value="Submit">
 </form>
<br/> --}}

{{!-- <form id='filter_people' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Filter by homeworld </label>
    <select id='homeworld_filter' name="homeworld"> 
        {{#each planets}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    <input type="button" value="Filter" onclick="filterPeopleByHomeworld()">
</form> --}}

{{!-- <form id='search_people' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search people for first name starting with:</label>
    <input id='first_name_search_string' type='text' name='first_name_search_string' value=''>
    <input type="button" value="Search" onclick="searchPeopleByFirstName()">
</form> --}}
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <TABLE style="margin: 0px auto;" BORDER="5"    WIDTH="90%"   CELLPADDING="4" CELLSPACING="3">
   <TR>
      </TH>
   </TR>
   <TR>
      <TH>Appointment ID</TH>
      <TH>Clinic ID</TH>
      <TH>Patient ID</TH>
      <TH>Vaccine Preference</TH>
      <TH>Appointment Time</TH>
   </TR>
   {{#each appointment}}
   <TR ALIGN="CENTER">
        <td>{{appointmentID}}</td> 
        <td>{{clinicID}}</td> 
        <td>{{patientID}}</td>
        <td>{{vaccPref}}</td>
        <td>{{appointment}}</td>
   </TR>
   {{/each}} 
</TABLE> 
{{!-- <table>
    <thead> 
        <th>First Name</th> 
        <th>Last Name</th> 
        <th>Age</th>  
    </thead> 
    <tbody>
        {{#each people}} 
        <tr> 
            <td>{{fname}}</td> 
            <td>{{lname}}</td> 
            <td>{{age}}</td>
            <td><button onclick="deletePerson({{id}})">Delete</button></td>
            <td><a href="/people/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table>  --}}
</html>
