<html>
<head>
   <meta charset="UTF-8">
   <title>COVID-19 Vaccine Tracker</title>
</head>
<body>
  <center>
<a href="index.html">Home</a>
<a href='/vaccines'>Vaccines</a>
<a href="/appointments">Appointments</a>
<a href="/patients">Patients</a>
<a href="/clinics">Clinics</a>
<a href="/clinicians">Clinicians</a>
<a href="/distributors">Distributors</a></body></center>
<center><h1>Clinics</h1></center>
<center>
    <form id="clinics" action="/clinics" method="post" style="margin:10;float:left;width: 30%">
      <h3>Add Clinic</h3>
      <label for="clinicName">Clinic Name:</label>
      <input type="text" id="clinicName" name="clinicName" required><br>
      <label for="address">Address:</label>
      <input style="width: 200px" type="text" id="address" name="address" placeholder="123 Main St., New York, NY 98101"required><br>
      <label for="parking">Parking:</label>
      <input type="radio" id="parking" name="parking" value="True">True
      <input type="radio" id="parking" name="parking" value="False">False<br>
      <label for="publicTransport">Public Transport:</label>
      <input type="radio" id="publicTransport" name="publicTransport" value="True">True
      <input type="radio" id="publicTransport" name="publicTransport" value="False">False<br>
      <label for="phone">Phone:</label>
      <input style="width:85px" type="phone" id="phone" name="phone" placeholder="123-456-7890"><br>
      <input type="submit" value="Submit">
  </form></center>
    </form></center>
    <br>
    <br>
    <br>
  <center><form id="form" style="float:right;width: 40%"> 
  <input type="search" id="clinic_search" name="clinic_search" placeholder="Search Clinic Name" required>
  <input type="button" value="Search" onclick="searchClinics()">
</form></center>
<center><a href='/clinics'><input type=button value='Refresh Table'></a></center>
<br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <TABLE style="margin: 0px auto;" BORDER="5"    WIDTH="90%"   CELLPADDING="4" CELLSPACING="3">
   <TR>
      </TH>
   </TR>
   <TR>
      <TH>Clinic ID</TH>
      <TH>Clinic Name</TH>
      <TH>Address</TH>
      <TH>Parking</TH>
      <TH>Public Transport</TH>
      <TH>Phone Number</TH>
   </TR>
   {{#each clinics}}
   <TR ALIGN="CENTER">
      <TD>{{clinicID}}</TD>
      <TD>{{clinicName}}</TD>
      <TD>{{address}}</TD>
      <TD>{{parking}}</TD>
      <TD>{{publicTransport}}</TD>
      <TD>{{phone}}</TD>
      <td><button onclick="deleteClinic({{clinicID}})">Delete</button></td>
      <td><a href="/clinics/{{clinicID}}">Update</a></td>
   </TR>
   {{/each}}
</TABLE> 
</body>
</html>
