<html>
<head>
   <meta charset="UTF-8">
   <title>COVID-19 Vaccine Tracker</title>
</head>
<body>
  <center>
<a href="index.html">Home</a>
<a href='/vaccines'>Vaccines</a>
<a href="/appointments">Appointments</a>
<a href="/patients">Patients</a>
<a href="/clinics">Clinics</a>
<a href="/clinicians">Clinicians</a>
<a href="/distributors">Distributors</a></body>
<center><h1>Patient Records</h1></center>
  <center><form id="addPatient" action="/patients" method="post" style="margin:10;float:left;width: 30%">
      <h3>Add Patient</h3>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required><br>
      Vaccine ID: <select name ="vaccineID">
      {{!-- <option value=NULL>N/A</option> --}}
      {{#each vaccines}}
      <option value="{{id}}">{{vacType}}</option>
      {{/each}}
      </select required><br>
      <label for="dob">Date of Birth:</label>
      <input type="text" id="dob" name="dob" placeholder="MM-DD-YYYY" pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}" required><br>
      <label for="sex">Sex:</label>
      <input type="radio" id="sex" name="sex" value="Male" required>Male
      <input type="radio" id="sex" name="sex" value="Female">Female<br>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" placeholder="example@gmail.com"><br>
      <label for="phone">Phone:</label>
      <input style="width:85px" type="tel" id="phone" name="phone" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"><br>
      <input type="submit" value="Submit">
  </form></center>
  </form></center>
  <br>
  <br>
  <br>
  <center><form id="searchPatient" style="float:right;width: 40%"> 
  <input type="text" id="first_name_search_string" name="first_name_search_string" placeholder="Search Patient Name" required>
  <input type="button" value="Search" onclick="searchPatientByFirstName()">
</form></center>
<center><a href='/patients'><input type=button value='Refresh Table'></a></center>
 <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <TABLE style="margin: 0px auto;" BORDER="5"    WIDTH="90%"   CELLPADDING="4" CELLSPACING="3">
   <TR>
      </TH>
   </TR>
   <TR>
      <TH>Patient ID</TH>
      <TH>Name</TH>
      <TH>Vaccine Type</TH>
      <TH>Date of Birth</TH>
      <TH>Sex</TH>
      <TH>Email</TH>
      <TH>Phone Number</TH>

   </TR>
   {{#each patients}}
   <TR ALIGN="CENTER">
      <TD>{{patientID}}</TD>
      <TD>{{name}}</TD>
      <TD>{{vaccine}}</TD>
      <TD>{{dob}}</TD>
      <TD>{{sex}}</TD>
      <TD>{{email}}</TD>
      <TD>{{phone}}</TD>
      <td><button onclick="deletePatient({{patientID}})">Delete</button></td>
      <td><a href="/patients/{{patientID}}">Update</a></td>
   </TR>
   {{/each}}
</TABLE> 
</body>  

</html>
