<html>
<head>
   <meta charset="UTF-8">
   <title>COVID-19 Vaccine Tracker</title>
</head>
<body>
  <center>
<a href="./index.html">Home</a>
<a href='/vaccines'>Vaccines</a>
<a href="/appointments">Appointments</a>
<a href="/patients">Patients</a>
<a href="/clinics">Clinics</a>
<a href="/clinicians">Clinicians</a>
<a href="/manufacturers">Manufacturers</a></body>
<center><h1>Patient Records</h1></center>
  <center><form id="addPatient" action="/patients" method="post" style="margin:10;float:left;width: 30%">
      Vaccine ID: <select name ="vaccineID">
      {{#each vaccines}}
      <option>{{id}}</option>
      {{/each}}
      </select required><br>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required><br>
      <label for="dob">Date of Birth:</label>
      <input type="text" id="dob" name="dob" placeholder="MM-DD-YYYY" required><br>
      <label for="sex">Sex:</label>
      <input type="radio" id="sex" name="sex" value="Male" required>Male
      <input type="radio" id="sex" name="sex" value="Female">Female<br>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" placeholder="example@gmail.com"><br>
      <label for="phone">Phone:</label>
      <input style="width:85px" type="phone" id="phone" name="phone" placeholder="123-456-7890"><br>
      <input type="submit" value="Submit">
  </form></center>
  </form></center>
  <center><form id="form"> 
  <input type="search" id="query" name="q" placeholder="Search...">
  <button>Search</button>
</form></center>
 <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <TABLE style="margin: 0px auto;" BORDER="5"    WIDTH="90%"   CELLPADDING="4" CELLSPACING="3">
   <TR>
      </TH>
   </TR>
   <TR>
      <TH>Patient ID</TH>
      <TH>Vaccine ID</TH>
      <TH>Name</TH>
      <TH>Date of Birth</TH>
      <TH>Sex</TH>
      <TH>Email</TH>
      <TH>Phone Number</TH>
   </TR>
   {{#each patients}}
   <TR ALIGN="CENTER">
      <TD>{{patientID}}</TD>
      <TD>{{vaccineID}}</TD>
      <TD>{{name}}</TD>
      <TD>{{dob}}</TD>
      <TD>{{sex}}</TD>
      <TD>{{email}}</TD>
      <TD>{{phone}}</TD>
      <td><button onclick="deletePatient({{patientID}})">Delete</button></td>
      <td><a href="/patients/{{patientID}}">Update</a></td>
   </TR>
   {{/each}}
</TABLE> 
</body>  

{{!-- <form id='filter_people' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Filter by homeworld </label>
    <select id='homeworld_filter' name="homeworld"> 
        {{#each planets}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    <input type="button" value="Filter" onclick="filterPeopleByHomeworld()">
</form> --}}

{{!-- <form id='search_people' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search people for first name starting with:</label>
    <input id='first_name_search_string' type='text' name='first_name_search_string' value=''>
    <input type="button" value="Search" onclick="searchPeopleByFirstName()">
</form> --}}
</html>
