<html>
<h1>Update Appointment ID {{appointment.id}}</h1>
<form id="update-appointment" action="/appointments" method="post">
    Clinic ID: <select id="clinic" name ="clinicID">
      {{#each clinics}}
      <option>{{id}}</option>
      {{/each}}
      </select required><br>
      Patient ID: <select id="patient" name ="patientID">
      {{#each patients}}
      <option>{{id}}</option>
      {{/each}}
      </select required><br><br>
      <label>Vaccine Preference:</label><br>
      <label for="pfizer">Pfizer</label>
      <input type="radio" value="Pfizer" id="pfizer" name="vacType">
      <label for="moderna">Moderna</label>
      <input type="radio" value="Moderna" id="moderna" name="vacType">
      <label for="johnson">Johnson & Johnson</label>
      <input type="radio" value="Johnson" id="johnson" name="vacType"><br><br>
      <label>Appointment Time:</label>
      <select id="appointment" name = "appointment" required>
            <option value = "8:00 AM" >8:00 AM</option>
            <option value = "8:15 AM" >8:15 AM</option>
            <option value = "8:30 AM" >8:30 AM</option>
            <option value = "8:45 AM" >8:45 AM</option>
            <option value = "9:00 AM" >9:00 AM</option>
            <option value = "9:15 AM" >9:15 AM</option>
            <option value = "9:30 AM" >9:30 AM</option>
            <option value = "9:45 AM" >9:45 AM</option>
            <option value = "10:00 AM" >10:00 AM</option>
            <option value = "10:15 AM" >10:15 AM</option>
            <option value = "10:30 AM" >10:30 AM</option>
            <option value = "10:45 AM" >10:45 AM</option>
            <option value = "11:00 AM" >11:00 AM</option>
            <option value = "11:15 AM" >11:15 AM</option>
            <option value = "11:30 AM" >11:30 AM</option>
            <option value = "11:45 AM" >11:45 AM</option>
            <option value = "12:00 PM" >12:00 AM</option>
            <option value = "12:15 PM" >12:15 PM</option>
            <option value = "12:30 AM" >12:30 PM</option>
            <option value = "12:45 PM" >12:45 PM</option>
            <option value = "1:00 PM" >1:00 PM</option>
            <option value = "1:15 PM" >1:15 PM</option>
            <option value = "1:30 PM" >1:30 PM</option>
            <option value = "1:45 PM" >1:45 PM</option>
            <option value = "2:00 PM" >2:00 PM</option>
            <option value = "2:15 PM" >2:15 PM</option>
            <option value = "2:30 PM" >2:30 PM</option>
            <option value = "2:45 PM" >2:45 PM</option>
            <option value = "3:00 PM" >3:00 PM</option>
            <option value = "3:15 PM" >3:15 PM</option>
            <option value = "3:30 PM" >3:30 PM</option>
            <option value = "3:45 PM" >3:45 PM</option>
            <option value = "4:00 PM" >4:00 PM</option>
            <option value = "4:15 PM" >4:15 PM</option>
            <option value = "4:30 PM" >4:30 PM</option>
            <option value = "4:45 PM" >4:45 PM</option>
        </select>
</form>
<button onclick="updateAppointment({{appointment.id}})">Update</button>
<script defer>selectClinicID({{appointment.clinicID}});</script>
<script defer>selectPatientID({{appointment.patientID}});</script>

<script>
function setSelectedIndex(s, v) {

    for ( var i = 0; i < s.options.length; i++ ) {

        if ( s.options[i].value == v ) {

            s.options[i].selected = true;

            return;

        }

    }

}
var appointment = "{{appointment.appointment}}";

setSelectedIndex(document.getElementById('appointment'), appointment);
  var Pfizer = 'Pfizer';
  var Moderna = 'Moderna';
  var Johnson = 'Johnson';
</script>
<script defer>selectVaccine2({{appointment.vaccinePref}});</script>
</html>