<html>
<h1>Update Vaccine ID {{vaccine.id}}</h1>
<form id="update-vaccine" action="/vaccines" method="post">
    Vaccine Type:  <select name="vacType" id="vacType">
      <option value="Pfizer">Pfizer</option>
      <option value="Moderna">Moderna</option>
      <option value="Johnson">Johnson</option>
      </select><br>
      Distributor: <select name="distributorID" id="distributorID-selector"> 
        {{#each distributors}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
</form>
<script> 
    var Pfizer = 'Pfizer'; 
    var Moderna = 'Moderna';
    var Johnson = 'Johnson';  
</script>
<button onclick="updateVaccine({{vaccine.id}})">Update</button>
<script defer>selectDistributorID({{vaccine.distroName}});</script>
<script defer>selectVaccine({{vaccine.vacType}});</script>
</html>