<html>
<head>
   <meta charset="UTF-8">
   <title>COVID-19 Vaccine Tracker</title>
</head>
<body>
  <center>
<a href="index.html">Home</a>
<a href='/vaccines'>Vaccines</a>
<a href="/appointments">Appointments</a>
<a href="/patients">Patients</a>
<a href="/clinics">Clinics</a>
<a href="/clinicians">Clinicians</a>
<a href="/manufacturers">Manufacturers</a></body>
</center>
<center><h1>Vaccine Type</h1></center>
  <center><form id="addvacc" action="/vaccines" method="post" style="margin:10;float:left;width: 30%">
      Manufacturer ID: <select name ="manufactID">
      {{#each manufacturers}}
      <option>{{id}}</option>
      {{/each}}
      </select><br>
      <label for="pfizer">Pfizer</label>
      <input type="radio" id="pfizer" name="vacType" value="Pfizer" required>
      <label for="moderna">Moderna</label>
      <input type="radio" id="moderna" name="vacType" value="Moderna">
      <label for="vacType">Johnson & Johnson</label>
      <input type="radio" id="johnson" name="vacType" value="Johnson"><br>
      <input type="submit" value="Submit">
  </form>
  </center>
  <center>
<form style="float:right;width: 40%">
      <label for="vaccineID">Vaccine ID:</label>
      <input type="text" id="vaccineID" name="vaccineID"><br>
      <input type="submit" value="Delete">
  </form>
  </center>
  <br>
  </form></center>
  <center><form id="form"> 
  <input type="search" id="query" name="q" placeholder="Search...">
  <button>Search</button>
</form></center>  
{{!-- <h3>Add new people:</h3>
<form id="addperson" action="/people" method="post">
    First name: <input type="text" name="fname"><br>
    Last name: <input type="text" name="lname"><br>
    Homeworld: <select name="homeworld"> 
        {{#each planets}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    Age: <input type="number" name="age"><br>
    <input type="submit" value="Submit">
 </form>
<br/> --}}

{{!-- <form id='filter_people' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Filter by homeworld </label>
    <select id='homeworld_filter' name="homeworld"> 
        {{#each planets}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    <input type="button" value="Filter" onclick="filterPeopleByHomeworld()">
</form> --}}

{{!-- <form id='search_people' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search people for first name starting with:</label>
    <input id='first_name_search_string' type='text' name='first_name_search_string' value=''>
    <input type="button" value="Search" onclick="searchPeopleByFirstName()">
</form> --}}
<br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<TABLE style="margin: 0px auto;" BORDER="5"    WIDTH="90%"   CELLPADDING="4" CELLSPACING="3">
    <thead> 
        <th>Vaccine ID</th> 
        <th>Maufacturer ID</th> 
        <th>Pfizer</th>
        <th>Moderna</th>  
        <th>Johnson</th>
    </thead> 
    <tbody>
        {{#each vaccines}} 
        <TR ALIGN="CENTER"> 
            <td>{{vaccineID}}</td> 
            <td>{{manufactID}}</td> 
            <td>{{pfizer}}</td> 
            <td>{{moderna}}</td>
            <td>{{johnson}}</td>
            <td><button onclick="deletePerson({{id}})">Delete</button></td>
            <td><a href="/people/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table>
</html>
