<html>
<head>
   <meta charset="UTF-8">
   <title>COVID-19 Vaccine Tracker</title>
</head>
<body>
  <center>
<a href="/index.html">Home</a>
<a href='/vaccines'>Vaccines</a>
<a href="/appointments">Appointments</a>
<a href="/patients">Patients</a>
<a href="/clinics">Clinics</a>
<a href="/clinicians">Clinicians</a>
<a href="/manufacturers">Manufacturers</a></body>
</center>
<center><h1>Vaccine Type</h1></center>
  <center><form id="addvacc" action="/vaccines" method="post" style="margin:10;float:left;width: 30%">
      Manufacturer ID: <select name ="manufactID">
      {{#each manufacturers}}
      <option>{{id}}</option>
      {{/each}}
      </select><br>
      <label for="pfizer">Pfizer</label>
      <input type="radio" id="pfizer" name="vacType" value="Pfizer" required>
      <label for="moderna">Moderna</label>
      <input type="radio" id="moderna" name="vacType" value="Moderna">
      <label for="vacType">Johnson & Johnson</label>
      <input type="radio" id="johnson" name="vacType" value="Johnson"><br>
      <input type="submit" value="Submit">
  </form>
  </center>
  
  <br>
  </form></center>
  <center><form id="search-vaccines"> 
  <input type="text" id="vaccineID_search" name="vaccineID_search" placeholder="Search Vaccine ID">
  <input type="button" value="Search" onclick="searchVaccineID()">
</form></center>
<br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<TABLE style="margin: 0px auto;" BORDER="5"    WIDTH="90%"   CELLPADDING="4" CELLSPACING="3">
    <thead> 
        <th>Vaccine ID</th> 
        <th>Maufacturer ID</th> 
        <th>Pfizer</th>
        <th>Moderna</th>  
        <th>Johnson</th>
    </thead> 
    <tbody>
        {{#each vaccines}} 
        <TR ALIGN="CENTER"> 
            <td>{{vaccineID}}</td> 
            <td>{{manufactID}}</td> 
            <td>{{pfizer}}</td> 
            <td>{{moderna}}</td>
            <td>{{johnson}}</td>
            <td><button onclick="deleteVaccine({{vaccineID}})">Delete</button></td>
            <td><a href="/vaccines/{{vaccineID}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table>
</html>
